<a name="jshub"></a>
<div id="jshub">
  <div id="microformats">
    <h1 class="heading">Microformat markup</h1>
  </div>
  <!-- <pre><%= @hpage.inspect %></pre> -->
  <div class="container">
    <p>
      The demo store is a reference implementation provided by 
	  <%= link_to 'jsHub.org', 'http://jshub.org/' %>. 
	  For more information see the <%= link_to 'developer site', 'http://jshub.org/projects/' %>
	  and <%= link_to 'standards project', 'http://jshub.org/standards/' %>. <br />
	  Version: (<%= render 'shared/version' -%>)
	</p>
  </div>
</div>
